<%- model_class = Taskpriority -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:priority) %></th>
      <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
      <th colspan="2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @taskpriorities.each do |taskpriority| %>
      <tr>
        <td><%= link_to taskpriority.id, taskpriority_path(taskpriority) %></td>
        <td><%= taskpriority.priority %></td>
        <!-- <td><%=l taskpriority.created_at %></td> -->
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_taskpriority_path(taskpriority), :class => 'btn btn-mini' %></td>
          <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      taskpriority_path(taskpriority),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_taskpriority_path,
            :class => 'btn btn-primary' %>
